@import "tailwindcss";



@theme{
    --color-manage-orange-strong: hsl(12, 88%, 59%);
    --color-manage-blue: hsl(228, 39%, 23%);
    --color-manage-gray-strong: hsl(233, 12%, 13%);
    --color-manage-orange-light: hsl(13, 100%, 96%);
    --color-manage-gray-light: hsl(0, 0%, 98%);
    --color-loopstudios-White: hsl(0, 0%, 100%);
	--color-loopstudios-Black: hsl(0, 0%, 0%);
	--color-loopstudios-Grey: hsl(0, 0%, 85%);
	--color-shortly-Blue: hsl(180, 66%, 49%);
	--color-shortly-Purple: hsl(257, 27%, 26%);
	--color-shortly-Red: hsl(0, 87%, 67%);
	--color-shortly-Gray-400: hsl(0, 0%, 75%);
	--color-shortly-Gray-500: hsl(257, 7%, 63%);
	--color-shortly-Gray-900: hsl(255, 11%, 22%);
	--color-shortly-Gray-950: hsl(260, 8%, 14%);
	--color-insure-Dark-Blue: hsl(256, 26%, 20%);
	--color-insure-Blue: hsl(216, 30%, 68%);
	--color-insure-Darker-Gray: hsl(270, 9%, 17%);
	--color-insure-Dark-Gray: hsl(273, 4%, 51%);
	--color-insure-Light-Gray: hsl(0, 0%, 98%);
	--color-blogr-Red-500: hsl(356, 100%, 66%);
	--color-blogr-Red-400: hsl(355, 100%, 74%);
	--color-blogr-Blue-900: hsl(208, 49%, 24%);
	--color-blogr-White: hsl(0, 100%, 100%);
	--color-blogr-Gray-600: hsl(207, 13%, 34%);
	--color-blogr-Gray-900: hsl(240, 10%, 16%);
	--color-blogr-gradient-Orange-300: hsl(13, 100%, 72%);
	--color-blogr-gradient-Red-550: hsl(353, 100%, 62%);
	--color-blogr-gradient-Purple-950: hsl(237, 17%, 21%);
	--color-blogr-gradient-Purple-900: hsl(237, 23%, 31%);
	--color-digitalBank-Blue-950: hsl(233, 26%, 24%);
	--color-digitalBank-Green-500: hsl(136, 64%, 51%);
	--color-digitalBank-Cyan-400: hsl(192, 69%, 51%);
	--color-digitalBank-Gray-600: hsl(233, 8%, 62%);
	--color-digitalBank-Gray-100: hsl(220, 16%, 96%);
	--color-digitalBank-Gray-50: hsl(0, 0%, 98%);


}


/* Ejemplo para convertir un icono a blanco */
.icon-shortly-blue {
	filter: invert(88%) sepia(67%) saturate(844%) hue-rotate(130deg) brightness(83%) contrast(93%);
}
